extends layout

block content
  h1 @#{name}
  form(class="search" action="/get/home_timeline", method="post")
    label(class="search__label" for="search__select") Search Depth: 
    select(name="depth_val" id="search__select" class="search__select")
      each val in ['5', '10', '50', '100', '200']
        option=val

    button(type="submit") Search home feed
    //- input(type="submit") Search home feed
 

  div(class="results")
  if data 
    p(class="results__count") #{data.length} potential opportunities found
    div(class="results__data")
      each post in data
        div(class="results__post") 
          p #{post.name}
          p #{post.text}
          a(href=`https://twitter.com/user/statuses/${[post.tweet_id]}`) Go to tweet 
